body {
    font-size: 20px;
    font-weight: bold;
    color: rgb(196, 68, 68);
    background-color: rgb(252, 238, 238);
    line-height: 30px;

    margin: 0px;

    border: 2px solid blue;
    border-top-color: black;
    border-bottom-width: 5px;

    height: 600px;

}
p::first-letter {
    font-size: 26px;
    color:blue
  }

/* .text {
    border: 1px solid red;
    max-width: 700px;
    min-width: 300px;
    width: 100%;
    min-height: 350px;
    height: 100$;
    
} */

.paragraph1 {
    padding: 50px;
    margin-top: 50px;
    padding-left: 10px;

}

.paragraph2 {
    outline: 2px solid black;
}
